<% name = current_user.present? ? current_user.email : 'Stranger' %>

<h1>Welcome, <%= name %> </h1>
<table>
  <tr>
    <th>Test</th>
  </tr>
  <% @owned_games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.playtime_forever %> minutes</td>
    </tr>
  <% end %>
</table>
